{% extends 'base_teste.html' %}

{% block content %}
{% load custom_filters %}

<style>
    .form-group {
        display: inline-block;
        width: 30%;
        /* Define a largura de cada campo */
        margin-right: 2%;
        /* Adiciona um espaço entre os campos */
    }
</style>

<!-- jquery validation -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">{{ model_name }}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form id="quickForm">
        <div class="card-body">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.widget.input_type != 'checkbox' %}
                {{ field }}
                <script>
                    document.getElementById("{{ field.id_for_label }}").classList.add("form-control");
                </script>
                {% else %}
                {{ field }}
                {% endif %}
            </div>
            {% if field.label == 'Imagem' %}
        </div>
        <div class="card-body">
            {% endif %}
            {% if forloop.counter|divisibleby:3 and field.label != 'Descricao' %}
            <!-- Fecha a linha a cada 3 campos, exceto para o campo de descrição -->
        </div>
        <div class="card-body">
            {% endif %}
            {% endfor %}
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script>
    function myFunction(url) {
        window.open(url, "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=1, left=1, width=800, height=600");
    }
</script>

{% endblock %}