{% extends 'base.html' %}

{% block content %}
{% load custom_filters %}



<div style="margin-bottom: 90px;">
    <h2 class="text-center">{{ model_name }}</h2>
    <form method="post" style="width: 70%; margin-left: 15%; margin-right: 15%;" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="button" class="btn btn-light" style="clear: right;" onclick="calcularTotal()">Atualizar
            Valores</button>
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% for action in a.fieldName %}
            {% if field.name == action.name %}
            {% if action %}
            <a class="btn btn-outline-secondary" style="margin: 5px;" {% if not action.formGen %}
                onclick="myFunction('{% url action.url_name %}');" {% else %} data-bs-toggle="offcanvas"
                data-bs-target="#OpenModal{{ action.id }}" {% endif %}>
                {{ action.label }}
            </a>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% if field.widget.input_type != 'checkbox' %}
            {{ field }}
            <script>
                document.getElementById("{{ field.id_for_label }}").classList.add("form-control");
            </script>
            {% else %}
            {{ field }}
            {% endif %}
        </div>
        {% endfor %}

        {% if item_formset %}
        <div id="itemsTableContainer">
            <table id="itemsTable">
                <thead>
                    <tr>
                        <th>PRODUTO</th>
                        <th>QUANTIDADE</th>
                        <th>PRECO UNITARIO</th>
                        <th>TOTAL</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>



                    {{ item_formset.management_form }}
                    {% for item in item_formset %}
                    <tr>
                        <td>
                            {{ item.produto }}
                            <script>
                                document.getElementById("{{ item.produto.id_for_label }}").classList.add("produto");
                            </script>
                        </td>
                        <td>
                            {{ item.quantidade }}
                            <script>

                                document.getElementById("{{ item.quantidade.id_for_label }}").classList.add("quantidade");
                            </script>
                        </td>
                        <td>
                            {{ item.preco_unitario }}
                            <script>
                                document.getElementById("{{ item.preco_unitario.id_for_label }}").classList.add("preco_unitario");
                            </script>
                        </td>
                        <td>

                            <div class="input-container">
                                <i class="fa fa-money icon"></i>
                                <input type="text" class="input-field total-input form-control" value="0" disabled>
                            </div>
                        </td>
                        <td>


                            {{ item_formset.itens }}
                            {% if item.id.value %}
                            <a href="{% url 'adicionar_ordem_compraExtra'  %}?back={{request.path}}"
                                class="btn btn-danger">Excluir</a>
                            {% else %}
                            <button type="button" class="btn btn-danger" onclick="removerItem(this)">Remover</button>
                            {% endif %}

                            {{ item.id }}
                            {{ item.ordem_compra }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'adicionar_ordem_compraExtra' ExtraInclement%}" class="btn btn-primary" value="+ Add">+
                Adicionar item</a>

        </div>

        {% endif %}
        <br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url ActionCancel %}" class="btn btn-success">Voltar</a>
        </div>
    </form>
</div>
<script>
    // Função para calcular o total e atualizar o input
    function calcularTotal() {
        var total = 0;

        // Iterar sobre as linhas da tabela
        var rows = document.querySelectorAll("#itemsTable tbody tr");

        rows.forEach(function (row) {
            // Obter quantidade e preço unitário da linha
            var quantidade = parseInt(row.querySelector(".quantidade").value);
            var precoUnitario = parseFloat(row.querySelector(".preco_unitario").value);

            // Calcular total da linha
            var totalLinha = quantidade * precoUnitario;

            // Adicionar total da linha ao total geral
            total += totalLinha;

            // Atualizar o valor na coluna "TOTAL" (index 3)
            row.cells[3].querySelector(".total-input").value = totalLinha.toFixed(2);
        });

        // Atualizar o valor total no input com id "id_total"
        document.getElementById("id_total").value = total.toFixed(2);
    }

    // Chamar a função inicialmente para calcular o total ao carregar a página
    calcularTotal();

    // Função para remover dinamicamente a linha da tabela
    function removerItem(button) {
        var row = button.closest('tr');
        var formset = row.closest('form').querySelector('#itemsTable tbody');

        // Remover a linha da tabela
        row.remove();

        // Recalcular o total após remover a linha
        calcularTotal();
    }
</script>
<script>
    function myFunction(url) {
        window.open(url, "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=1, left=1, width=800, height=600");
    }
</script>

{% endblock %}