{% extends 'base_teste.html' %}

{% block content %}

<div class="row">

    {% if perms.produtos.view_funcionario %}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box" style="background-color: #5793d8; color: #ffffff;">
        <div class="inner">
          <h3>Funcionários</h3>

          <p>&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-user-tie"></i>
        </div>
        <a href="{% url 'Funcionario_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    {% endif %}
    <!-- ./col -->
    {% if perms.produtos.view_fornecedor %}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box" style="background-color: #0d5c81; color: #ffffff;">
        <div class="inner">
          <h3>Fornecedores</h3>

          <p>&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-people-carry"></i>
        </div>
        <a href="{% url 'Fornecedor_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    {% endif %}
    <!-- ./col -->
    {% if perms.Cliente.view_cliente %}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box" style="background-color: #17abf0; color: #ffffff;">
        <div class="inner">
          <h3>Clientes</h3>

          <p>&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fas fa-users"></i>
        </div>
        <a href="{% url 'Cliente_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    {% endif %}
    <!-- ./col -->
    {% if perms.produtos.view_produto %}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box" style="background-color: #478eaf; color: #ffffff;">
        <div class="inner">
          <h3>Produtos</h3>

          <p>&nbsp;</p>
        </div>
        <div class="icon">
          <i class="fa fa-shopping-cart"></i>
        </div>
        <a href="{% url 'lista_produtos' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
    {% endif %}
    <!-- ./col -->
    {% if perms.produtos.view_ordemcompra %}

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: #2890af; color: #ffffff;">
          <div class="inner">
            <h3>Ordens de Compras</h3>
  
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fas fa-pallet"></i>
          </div>
          <a href="{% url 'ordem_compra_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endif %}
      <!-- ./col -->
      {% if perms.produtos.view_ordemvenda %}
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: #164ea1; color: #ffffff;">
          <div class="inner">
            <h3>Ordens de Vendas</h3>
  
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fas fa-dolly-flatbed"></i>
          </div>
          <a href="{% url 'ordem_venda_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endif %}
      <!-- ./col -->
      {% if perms.produtos.view_configuracaosistema %}
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: #4283a1; color: #ffffff;">
          <div class="inner">
            <h3>Configurações</h3>
  
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fas fa-cogs"></i>
          </div>
          <a href="{% url 'configuracao_sistema_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endif %}
      <!-- ./col -->
      {% if perms.produtos.view_promocao %}
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: #4283a1; color: #ffffff;">
          <div class="inner">
            <h3>Promoção</h3>
  
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fas fa-hand-holding-usd"></i>
          </div>
          <a href="{% url 'Promocao_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endif %}
      <!-- ./col -->
      {% if perms.produtos.view_categoria %}
      <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box" style="background-color: #4283a1; color: #ffffff;">
          <div class="inner">
            <h3>Categorias</h3>
  
            <p>&nbsp;</p>
          </div>
          <div class="icon">
            <i class="fas fa-stream"></i>
          </div>
          <a href="{% url 'Categoria_list' %}" class="small-box-footer">Mais Informações <i class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
      {% endif %}
      
  </div>


{% endblock %}
