<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <ul>
        {% for produto in produtos %}
            <li>
                <strong>{{ produto.nome }}</strong>
                <p>ID: {{ produto.id }}</p>
                <p>Preço: R$ {{ produto.preco }}</p>
                <!-- Adicione mais campos conforme necessário -->
            </li>
        {% endfor %}
    </ul>
</body>
</html>

