<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitar correção da nota</title>
</head>
<body>
    <h1>Solicitar correção da nota</h1>

    {% if resultado.error %}
        <h2>Erro:</h2>
        <p><strong>Mensagem:</strong> {{ resultado.error.message }}</p>

        <h3>Dados da Nota Fiscal Já Existente:</h3>
        <p><strong>chave:</strong> {{ resultado.error.data.chave }}</p>
        <p><strong>id:</strong> {{ resultado.error.data.id }}</p>
        <p><strong>Nota com status:</strong> {{ resultado.error.data.status }}</p>

       

    {% else %}
        <h2>Solicitação de correção da nota Realizado com Sucesso!</h2>
        <p><strong>Mensagem:</strong> {{ resultado.message }}</p>
        <p><strong>Protocol:</strong> {{ resultado.data.protocol }}</p>

    {% endif %}
    
    <a href="{% url 'emitir_nota' %}">Voltar</a>
</body>
</html>
