{% extends 'base_teste.html' %}

{% block content %}

 
    <h1>Resultado Cancelamento da Nota Fiscal</h1>

    {% if resultado.error %}
        <h2>Erro:</h2>
        <p><strong>Mensagem:</strong> {{ resultado.error.message }}</p>
        <hr>
        <p><strong>idIntegracao:</strong> {{ resultado.error.data.idIntegracao }}</p>
        <p><strong>id:</strong> {{ resultado.error.data.id }}</p>
        <p><strong>Nota com Status:</strong> {{ resultado.error.data.status }}</p>
       

    {% else %}
        <h2>Cancelamento da Nota Fiscal Realizado com Sucesso!</h2>
        <p><strong>Mensagem:</strong> {{ resultado.message }}</p>
        <p><strong>Justificativa:</strong> {{ resultado.data.justificativa }}</p>
        <p><strong>RespostaSefaz:</strong> {{ resultado.data.respostaSefaz }}</p>
        <p><strong>cStat:</strong> {{ resultado.data.cStat }}</p>
        <p><strong>date:</strong> {{ resultado.data.date }}</p>
        <p><strong>protocolo:</strong> {{ resultado.data.protocolo }}</p>
        <p><strong>status:</strong> {{ resultado.data.status }}</p>
        <p><strong>xml:</strong> <a href="{% url 'baixar_xml_cancelamento' nota_id %}">Baixar xml do Cancelamento</a></p>

    {% endif %}
    
    <a href="{% url 'emitir_nota' %}">Voltar</a>

{% endblock %}