{% extends 'base_teste.html' %}

{% block content %}

 
    <h1>Resultado Pedido de Cancelamento de Nota Fiscal</h1>

    {% if resultado.error %}
        <h2>Erro:</h2>
        <p><strong>Mensagem:</strong> {{ resultado.error.message }}</p>
        <p><strong>Nota com Status:</strong> {{ resultado.error.data.status }}</p>
        <hr>
        <p><strong>id:</strong> {{ resultado.error.data.id }}</p>
        <p><strong>idIntegracao:</strong> {{ resultado.error.data.idIntegracao }}</p>
        
       

    {% else %}
        <h2>Cancelamento da Nota Fiscal Realizado com Sucesso!</h2>
        <p><strong>Mensagem:</strong> {{ resultado.message }}</p>

    {% endif %}
    
    <a href="{% url 'emitir_nota' %}">Voltar</a>

{% endblock %}